* {
     font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

body {
     margin: 0;
     height: 2000px;
}

header {
     background-color: rgb(0, 0, 0);
     width: 100%;
     height: 80px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.spotify-logo {
     margin-left: 102px;
}

.icon-logo {
     width: 134px;
     height: 42px;
}

.h-links {
     display: inline-block;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 105px;
}

header a {
     text-decoration: none;
     color: white;
     font-size: medium;
     font-weight: 700;
     padding: 16px;
}

header a:hover {
     color: #1ed760;
}

.divider {
     width: 1px;
     height: 20px;
     background-color: white;
     margin: 0px 18px;
}

.hero {
     width: 100%;
     height: 600px;
     background-color: #1ed760;
     background: url("https://www.scdn.co/i/free/bubbles-mobile.svg") center center / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);
     display: flex;
}

.hero-left {
     width: 41%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;

}

.hero-right {
     width: 59%;
     height: 100%;
     font-size: 30px;
     font-weight: 900;
}

.frame {
     width: 51%;
     height: 83%;
     margin-bottom: 0px;
     margin-left: 179px;
     background-color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 35px 35px 0px 0px;
     border-width: 0px;
     overflow: hidden;
}

.div-contain {
     height: 12%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
}

.speaker {
     background-color: black;
     width: 40px;
     height: 6px;
     border-radius: 20%;
}

.hero-img {
     width: 96%;
     height: 88%;
     margin: 0px 10px 0px 10px;
     padding: 0px 0px 0px 0px;

}

.hero-right h1 {
     color: white;
     margin-left: 0px;
     margin-top: 23%;
     margin-bottom: 0px;

}

.download {
     background-color: white;
     color: rgba(0, 0, 0, 100%);
     border-radius: 20px;
     padding: 15px 20px;
     border-width: 0px;
     font-weight: 700;
     margin-left: 0px;
     margin-top: 5%;
}

/* card section */
.image-1 {
     background-image: url("https://i.scdn.co/image/ab671c3d0000f430678067184805befd38aa0f57");
     width: 172px;
     height: 172px;
}

.image-2 {
     background-image: url("https://i.scdn.co/image/ab671c3d0000f430a6f822749d5c25c32ee31d66");
     width: 172px;
     height: 172px;
}

.image-3 {
     background-image: url("https://i.scdn.co/image/ab671c3d0000f430eb43023b5332389f5094530d");
     width: 172px;
     height: 172px;
}

.image-4 {
     background-image: url("https://i.scdn.co/image/ab671c3d0000f4309430062bc28461dc8fbde6bc");
     width: 172px;
     height: 172px;
}

h2 {
     text-align: center;
     font-size: 46px;
}

.cards {
     display: flex;
     justify-content: center;
     align-items: center;
}

.card {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}

.card-heading {
     font-weight: bolder;
     font-size: x-large;
     margin-bottom: 0px;

}

.des-container {
     padding: 0px 50px;
     text-align: center;
}

/*new section - free*/
.free {
     height: 494px;
     background-image: linear-gradient(#B023C2 20%, #600BE6);
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-size: larger;

}

.free h2 {
     padding: 0px;
     margin: 0px;
}

/* FAQ Section */
.faq {
     width: 100%;
     min-height: 600px;
     background-color: white;
     margin-top: 0px;
}

.faq h2 {
     font-size: large;
}

span {
     color: black;
     cursor: pointer;
     display: block;
}

span::after {
     float: right;
     right: 10%;
     content: "+";
}

.slide {
     clear: both;
     width: 100%;
     height: 0px;
     overflow: hidden;
     text-align: left;
     transition: height .4s ease;
}


#touch {
     position: absolute;
     opacity: 0;
     height: 0px;
}

#touch:checked+.slide {
     height: 300px;
}